body{
    font-family: 'Space Grotesk', sans-serif;
    padding: 0;
    margin: 0;
    background: rgb(29,77,78);
    background: linear-gradient(0deg, rgba(29,77,78,1) 0%, rgba(72,77,109,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: antiquewhite;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    max-width: 100%;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
}
.icons{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: flex-start;
}
.status{
    width: 200px;
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-basis: 25%;
    gap: 0.2em
}

i{
    padding: 0.1em;
    border-style: groove;
    border-radius: 20%;
    background-color: dimgray;
    color: bisque; 
}
 
p{
    font-family: 'Tilt Prism', cursive;
    margin-top: 1em;
    text-align: center;
    font-style: oblique;
    font-size: 3em;
    color: rgba(236, 214, 152, 0.562)
}
.container p{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2em;
} 
.status{
    font-size: 2em;
    font-family: 'Handjet', cursive;
}
#retry{
    margin: 0.8em 0;
}
#log{
    font-size: 0.5em;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 8em;
    width: 100%;
    font-weight: 300;
}
.endGame{
    font-size: 1.2em;
    font-weight:500;
}
.winner{
    color:rgb(130, 190, 38);
}
.loser{
    color:rgb(172, 13, 44);
    transform: scale(0.9);
}

.player, .computer{
    margin-top: 5em;
    text-align: center;
    width: 7em;
}